#N
clk_i
rst_ni

m_awvalid
m_awready
m_awaddr\[\d+\]
m_awprot\[\d+\]

s_awvalid\[\d+\]
s_awready\[\d+\]
s_awaddr\[\d+\]
s_awprot\[\d+\]

#S
m_wvalid
m_wready
m_wdata\[\d+\]
m_wstrb\[\d+\]

m_bvalid
m_bready
m_bresp\[\d+\]

s_wvalid\[\d+\]
s_wready\[\d+\]
s_wdata\[\d+\]
s_wstrb\[\d+\]

s_bvalid\[\d+\]
s_bready\[\d+\]
s_bresp\[\d+\]

#E
m_arvalid
m_arready
m_araddr\[\d+\]
m_arprot\[\d+\]

m_rvalid
m_rready
m_rdata\[\d+\]
m_rresp\[\d+\]

s_arvalid\[\d+\]
s_arready\[\d+\]
s_araddr\[\d+\]
s_arprot\[\d+\]

#W
s_rvalid\[\d+\]
s_rready\[\d+\]
s_rdata\[\d+\]
s_rresp\[\d+\]