@min_distance=5

#N
gpio0_in\[\d+\]
gpio0_out\[\d+\]
gpio0_dir\[\d+\]

#E
gpio1_in\[\d+\]
gpio1_out\[\d+\]
gpio1_dir\[\d+\]

#S
gpio2_in\[\d+\]
gpio2_out\[\d+\]
gpio2_dir\[\d+\]

#W
clk_i
rst_ni
spi_cs_n
spi_sclk
spi_mosi
spi_miso