#W

clk_i
rst_ni

#S

trap

#N

mem_axi_awvalid
mem_axi_awready
mem_axi_awaddr\[\d+\]
mem_axi_awprot\[\d+\]
mem_axi_wvalid
mem_axi_wready
mem_axi_wdata\[\d+\]
mem_axi_wstrb\[\d+\]
mem_axi_bvalid
mem_axi_bready

#E

mem_axi_arvalid
mem_axi_arready
mem_axi_araddr\[\d+\]
mem_axi_arprot\[\d+\]
mem_axi_rvalid
mem_axi_rready
mem_axi_rdata\[\d+\]