#W
clk_i
rst_ni
boot_we
s_axil_awvalid
s_axil_wvalid
s_axil_arvalid
s_axil_bready
s_axil_rready

# ------------------------------------------------------------
# SOUTH
# AXI address / write data
# ------------------------------------------------------------

#S
s_axil_awaddr\[\d+\]
s_axil_araddr\[\d+\]
s_axil_wdata\[\d+\]
s_axil_wstrb\[\d+\]

# ------------------------------------------------------------
# NORTH
# Boot interface
# ------------------------------------------------------------

#N
boot_addr\[\d+\]
boot_wdata\[\d+\]

# ------------------------------------------------------------
# EAST
# AXI responses
# ------------------------------------------------------------

#E
s_axil_awready
s_axil_wready
s_axil_bresp\[\d+\]
s_axil_bvalid
s_axil_arready
s_axil_rdata\[\d+\]
s_axil_rresp\[\d+\]
s_axil_rvalid