# ============================================================
# soc_top macro placement
#
# DIE  : 5000 x 3000 um
# CORE : 50,50 -> 1650,2950  <-- NOTE: Shrunk to digital region
#
# DIGITAL REGION:
#     x = 50 -> 1650
#
# ANALOG / MIXED-SIGNAL KEEPout:
#     x = 1700 -> 4950
#     y = 50   -> 2950
# ============================================================

# CPU + RAM
u_cpu       100     100     N
u_ram       900     100     N

# Boot / interconnect / first peripheral
u_boot_spi  100     950     N
u_ic        500     950     N
u_periph0   850     950     N

# Additional peripherals
u_periph1   100     1450    N
u_periph2   500     1450    N